@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "تأكيد لكلمة السر الجديدة";
}

<h1 style="font-family: Cairo, sans-serif;direction:rtl">@ViewData["Title"]</h1>
<p style="font-family: Cairo, sans-serif;direction:rtl">
    أدخل إيميلك لإعادة تعيي كلمة السر
</p>
