@page
@model LockoutModel
@{
    ViewData["Title"] = "قفل الحساب";
}

<header style="font-family: Cairo, sans-serif;direction:rtl">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">الحساب اخاص بك قد تم غلقه الرجاء اعادة المحاولة لاحقا</p>
</header>
