@page
@model LogoutModel
@{
    ViewData["Title"] = "تسجيل الخروج";
}

<header style="font-family: Cairo, sans-serif;direction:rtl">
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">اضغط هنا لتسجيل الخروج</button>
            </form>
        }
        else
        {
            <p>قمت بتسجيل الخروج بنجاح </p>
        }
    }
</header>
